/* @font-face {
  font-family: 'boston-regular';
  src: url('../assets/fonts/boston-regular.otf');
}

@font-face {
  font-family: 'boston-heavy';
  src: url('../assets/fonts/boston-heavy.otf');
}

@font-face {
  font-family: 'boston-semibold';
  src: url('../assets/fonts/boston-semibold.otf');
}

@font-face {
  font-family: 'boston-bold';
  src: url('../assets/fonts/boston-bold.otf');
} */

.slick-slide {
  touch-action: pan-y;
}

.sectionHeight {
  min-height: 100vh;
  min-height: 100dvh;
  margin: auto;
}