.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.column {
  -ms-flex: calc(33.333% - 0.68rem);
  /* IE10 */
  flex: calc(33.333% - 0.68rem);
  max-width: calc(33.333% - 0.68rem);
  /* padding: 0 0.5rem; */
}

.slideContainer {
  overflow: hidden;
  width: 100%;
  height: 700px;
  /* Altura del slide, ajusta según tus necesidades */
}

.slideWrapper {
  /* display: flex;
  flex-direction: column; */
  /* gap: 1rem; */
  animation: slideAnimation 120s linear infinite;
  /* Velocidad de desplazamiento y duración de la animación */
}

.slideItem {
  min-height: 100%;
  /* Altura del slide, ajusta según tus necesidades */
}

.slideItem div {
  width: 100%;
  height: 100%;

}

@keyframes slideAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
    /* Solo desplazamos la mitad de una imagen */
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex:calc(50% - 0.5rem);
    flex:calc(50% - 0.5rem);
    max-width:calc(50% - 0.5rem);
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}