.modalContent {
  border-radius: 12px;
  background-color: white;
  padding: 24px;
}

.modalHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.modalText {
  font-size: 18px;
  margin-bottom: 16px;
  text-align: center;
}

.modalAppIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.appIcon {
  height: 48px;
  margin-right: 16px;
}

.modalCancelButton {
  color: #666;
  border: none;
  font-size: 16px;
}

.modalDownloadButton {
  background-color: #2e65c7;
  color: white;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
}

.modalDownloadButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}