:root {
  color-scheme: dark;
  --font-inter: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-playfair: "Playfair Display", "Times New Roman", serif;
}

html,
body {
  max-width: 100%;
  background-color: #0c1b1e;
  color: #f0f6f8;
  min-height: 100%;
  font-family: var(--font-inter);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
